.idea
.git

/ninjavi/.env
/ninjavi/__pycache__

/venv/

/.pytest_cache/
/.__pycache__/

/tests/.benchmarks/
/tests/.pytest_cache/
/tests/.coverage
/tests/__pycache__/
/.coverage

/db.sqlite3

/apps/jwt_auth/__pycache__/
/apps/jwt_auth/migrations/0001_initial.py
/apps/users/migrations/0001_initial.py
/apps/posts/migrations/0001_initial.py
/apps/comments/migrations/0001_initial.py
